name: clover_sdk
description: "Clover SDK for Flutter applications."
version: 0.4.5
homepage: "https://github.com/OrderFastApp/flutter_clover_sdk"

environment:
  sdk: ^3.5.4
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
flutter:
  plugin:
    platforms:
      android:
        package: ar.com.orderfast
        pluginClass: CloverSdkPlugin
